  <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3 margin-left-2">
              <!-- Content -->
              <h5 class="text-uppercase">About Apex Cuisine: </h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3 text-left">
      
              <!-- Links -->
              <h5 class="text-uppercase">Contact:  </h5>
              </ul>
            </div>
            <!-- Grid column -->
            
            <ul class="list-unstyled">
                    <li>
                            <i class="fab fa-instagram"></i>
                    </li>
                    <li>
                            <i class="fab fa-facebook-square"></i>
                    </li>
                    <li>
                            <i class="fab fa-twitter-square"></i>
                    </li>
                    
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
            </div>
            <!-- Grid column -->
            </div>
          <!-- Grid row -->
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <p class="text-center">Copyright &copy; 2019</p>
        <!-- Copyright -->
      
      </footer>