<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="header">
    <a class="navbar-brand" href="/kitchens/">Apex Cuisine <img src="/assets/img/apex.jpg" style="width: 45px;"
        alt="apex cuisine"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="navbar-nav ml-auto text-center" id="nav-collapse">
        <a class="nav item nav-link" href="/kitchens/">Home</a>
        <a class="nav-item nav-link" href="/kitchenA/">KitchenA</a>
        <a class="nav-item nav-link" href="/">Create A User</a>
        <a class="nav-item nav-link" href="/users/sign-out">Logout</a>

      </div>
    </div>
</nav>