        <!-- {{> nav }} -->
    
  <section id = "kchoice">
        <div class="container">
            
            <!--Heading-->
            <header>
            <h1 id="heading" class="text-center">Welcome to My Kitchen</h1>
            </header>
            <hr>
            
            
            <!--Buttons Container-->    
            <div class="row align-items-center">
                <!--Kitchen A Container-->
                <div class="ButtonA col-sm col-md-12 col-lg-5 text-center">
                    <h3>Location A </h3>
                    <hr>
                    <br>
                    <address>
                        <p>112 Main St.</p>
                        <p>Ann Arbor, MI 48104</p> 
                        <p>(311) 555-2368</p>
                    </address>
                    <!--Kitchen A Button-->
                    <a href="./kitchenA"><button class="btn btn-primary btn-lg"><i class="fas fa-utensil-spoon"></i>  Kitchen A</button></a>
                </div>

                <!--Choose Location text-->
                <div class="col-sm col-md-12 col-lg-2 text-center">
                    <h4>Select A Location</h4>
                </div>

                <!--Kitchen B Container-->
                <div class="ButtonB col-sm col-md-12 col-lg-5 text-center">
                    <h3>Location B </h3>
                    <hr>
                    <br>
                    <address>
                        <p>34 Hill Ave.</p>
                        <p>Ann Arbor, MI 48104</p>
                        <p>(311) 555-2368</p>
                    </address>
                    <!--Kitchen B Button-->
                    <a href="./kitchenB"><button class="btn btn-primary btn-lg"><i class="fas fa-utensils"></i>  Kitchen B</button></a>
                </div>
            </div>

        </div>
    </section>