{{> navA }}

<div class="container">
<!--This is the main "card" class in a grid setting for responsiveness-->
  <div class="row" id="tableAcard">
    <div class="col">
      <div class="card w-100 text-align-center">
        <!--Here is our card header-->
        <h5 class="card-header">Input A New Item</h5>
        <!--Here is the card body which will contain our 4 "form" class search parameters-->
        <form>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <!--Serial Number Input-->
                <div class="form-group">
                  <label for="Serial Number">Serial Number</label>
                  <input type="text" class="form-control" id="serialNumber" placeholder="Add A Serial Number">
                </div>
              </div>
              <div class="col-6">
                <!--Item Input-->
                <div class="form-group">
                  <label for="Item">Item</label>
                  <input type="text" class="form-control" id="itemInput" placeholder="Input the Items Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <!--Category Input-->
                <div class="form-group">
                  <label for="Category">Category</label>
                  <input type="text" class="form-control" id="categoryInput" placeholder="Ex. Veg, Dairy, Etc.">
                </div>
              </div>
              <div class="col-6">
                <!--Location Input-->
                <div class="form-group">
                  <label for="Location">Location</label>
                  <input type="text" class="form-control" id="locationInput" placeholder="Ex. Shelf A2, C3 etc.">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <!--Weight Input-->
                <div class="form-group">
                  <label for="Weight">Weight</label>
                  <input type="text" class="form-control" id="weightInput" placeholder="Ex. 20lb, 46oz., etc.">
                </div>
              </div>
              <div class="col-6">
                <!--Price Input-->
                <div class="form-group">
                  <label for="Price">Price</label>
                  <input type="text" class="form-control" id="priceInput" placeholder="Ex. $12.99/lb, $5.75, etc.">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <!--Quantity Input-->
                <div class="form-group">
                  <label for="Quantity">Quantity</label>
                  <input type="text" class="form-control" id="qtyInput" placeholder="Ex. 200lb, 40, etc.">
                </div>
              </div>
              <div class="col-6">
                <!--Set(min) Input-->
                <div class="form-group">
                  <label for="Minimum">Set Minimum Amount</label>
                  <input type="text" class="form-control" id="setInput" placeholder="Ex. 3,7, etc.">
                </div>
              </div>
            </div>

            <!--Search Button-->
            <button data-search="submit" class="btn btn-primary" id="submit-btn">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="table-responsive">
    <table class="table table-sm table-striped table-dark table-hover" id="train-list">
      <!--Here is our card header-->
      <h5 class="card-header">Walk-in Fridge</h5>
      <thead>
        <tr>
          <th scope="col">S/N #</th>
          <th scope="col">Item</th>
          <th scope="col">Category</th>
          <th scope="col">Location</th>
          <th scope="col">Weight</th>
          <th scope="col">Price</th>
          <th scope="col">Qty</th>
          <th scope="col">set(min)</th>
        </tr>
      </thead>
      <tbody>
        <!--=======================================================================-->
        <!--////////////////This is where the data will get inputed////////////////-->
        <!--=======================================================================-->
      </tbody>
    </table>
  </div>
</div>
